services:
  niu-dining-hall-discord-bot:
    build: .
    container_name: niu-dining-hall-discord-bot
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 1.1.1.1
    volumes:
      - .:/app



